<section>
    <div class="products__cont">
        <div class="products__discount-cont">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 314 159" fill="none">
                <path
                    d="M0.894531 25.8857C0.894531 12.0786 12.0874 0.885742 25.8945 0.885742H252.696C263.432 0.885742 272.97 7.74097 276.392 17.9175L312.606 125.613C318.054 141.813 306.002 158.581 288.91 158.581H25.8945C12.0874 158.581 0.894531 147.388 0.894531 133.581V25.8857Z"
                    fill="#0A84FF" />
            </svg>

            <p class="products__discount-title">Big Discounts Only Today</p>
            <p class="products__discount-extra">Happy Hour</p>
            <button class="products__discount-button">See All Products</button>
        </div>

        <div class="products__categories-cont">
            <div>
                <div class="products__categories-menu-cont">
                    <p class="products__categories-menu-title">Category</p>
                    <button class="products__categories-menu-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path
                                d="M16.2989 11.356L8.50146 19.1534L10.3339 20.9858L16.2989 15.0338L22.264 20.9858L24.0964 19.1534L16.2989 11.356Z"
                                fill="#8B96A5" />
                        </svg>
                    </button>
                </div>
                
                <ul class="products__categories-list">
                    <li class="products__categories-item">BestSellers</li>
                    <li class="products__categories-item">Erectile Dysfunction</li>
                    <li class="products__categories-item">Trial Erection Packs</li>
                </ul>
            </div>
            
            <div>
                <ul class="products__list">
                    <li class="products__item">
                        <div class="products__img-cont">
                            <img src="assets\img\mobile\provigil-min.png">
                        </div>
                        <div class="products__text-cont">
                            <div class="products__text-info-cont">
                                <p class="products__item-title">Provigil</p>
                                <p class="products__item-price">from <span>€0.91</span></p>
                                <p class="products__item-medic">Provigil</p>
                            </div>
                            <button class="products__button">Buy now</button>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__img-cont">
                            <img src="assets\img\mobile\provigil-min.png">
                        </div>
                        <div class="products__text-cont">
                            <div class="products__text-info-cont">
                                <p class="products__item-title">Provigil</p>
                                <p class="products__item-price">from <span>€0.91</span></p>
                                <p class="products__item-medic">Provigil</p>
                            </div>
                            <button class="products__button">Buy now</button>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__img-cont">
                            <img src="assets\img\mobile\provigil-min.png">
                        </div>
                        <div class="products__text-cont">
                            <div class="products__text-info-cont">
                                <p class="products__item-title">Provigil</p>
                                <p class="products__item-price">from <span>€0.91</span></p>
                                <p class="products__item-medic">Provigil</p>
                            </div>
                            <button class="products__button">Buy now</button>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__img-cont">
                            <img src="assets\img\mobile\provigil-min.png">
                        </div>
                        <div class="products__text-cont">
                            <div class="products__text-info-cont">
                                <p class="products__item-title">Provigil</p>
                                <p class="products__item-price">from <span>€0.91</span></p>
                                <p class="products__item-medic">Provigil</p>
                            </div>
                            <button class="products__button">Buy now</button>
                        </div>
                    </li>
                    <li class="products__item">
                        <div class="products__img-cont">
                            <img src="assets\img\mobile\provigil-min.png">
                        </div>
                        <div class="products__text-cont">
                            <div class="products__text-info-cont">
                                <p class="products__item-title">Provigil</p>
                                <p class="products__item-price">from <span>€0.91</span></p>
                                <p class="products__item-medic">Provigil</p>
                            </div>
                            <button class="products__button">Buy now</button>
                        </div>
                    </li>
                </ul>
                
                <a class="products__link" href="#">See All Products</a>
            </div>

            
        </div>
    </div>
</section>