<div class="account__section">
    <div class="account__nav-cont">
        <h1 class="account__nav-title">My Account</h1>
        <ul class="account__nav-list">
            <!-- a or button -->
            <!-- <li class="account__nav"><button (click)="selectSection('dashboard')">Dashboard</button></li>-->
            <!--  [ngClass]="{'selected': 'dashboard' === selectedSection}" -->
            <li class="account__nav"><a href="account/dashboard">Dashboard</a></li>
            <li class="account__nav"><a href="account/orders">Orders</a></li>
            <li class="account__nav"><a href="account/info"> Pesonal info</a></li>
            <li class="account__nav"><a href="account/reviews">My Reviews</a></li>
            <li class="account__nav"><a href="account/methods">Payment Methods</a></li>
        </ul>
        
        <button class="account__nav-btn"><img src="assets/img/mobile/logout-min.png">LOG OUT</button>
    </div>

    <router-outlet></router-outlet>
</div>