<div class="account__section white-background">
        <div class="account__nav-cont">
                <h1 class="account__nav-title">My Account</h1>
                <ul class="account__nav-list">
                        <li class="account__nav"><a routerLink="/account/dashboard"
                                        routerLinkActive="selected">Dashboard</a></li>
                        <li class="account__nav"><a routerLink="/account/orders" routerLinkActive="selected">Orders</a>
                        </li>
                        <li class="account__nav"><a routerLink="/account/info" routerLinkActive="selected">Personal
                                        info</a></li>
                        <li class="account__nav"><a routerLink="/account/reviews" routerLinkActive="selected">My
                                        Reviews</a></li>
                        <li class="account__nav"><a routerLink="/account/methods" routerLinkActive="selected">Payment
                                        Methods</a></li>
                </ul>
                <button class="account__nav-btn"><img src="assets/img/mobile/logout-min.png">LOG OUT</button>
        </div>

        <div [@fadeIn]>
                <router-outlet></router-outlet>
        </div>
</div>