.account__section{
    padding: 25px 10px 50px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 25px auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        display: flex;
        gap: 45px;
        width: 1600px;
    }
}

.account__nav-cont{
    margin: 0 auto 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    width: 250px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 25px auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px){
        width: 190px;
        margin: 0;
        justify-content: flex-start;
        gap: 19px;
    }

}

.account__nav-title{
    text-align: center;
    width: 100%;
    color: #333;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 17px;
    border-bottom: 1px solid #CCC;

    @media screen and (min-width: 1600px){
        text-align: left;
    }
}

.account__nav-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: center;

    @media screen and (min-width: 1600px){
        gap: 27px;
        align-items: flex-start;
        margin-bottom: 60px;
    }
}

.account__nav{
    color: #333;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    button{
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
}

.selected{
    font-weight: 700;
}

.account__nav-btn{
    cursor: pointer;
    background-color: transparent;
    color: #262626;
    font-family: Poppins;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding-top: 17px;
    border-top: 1px solid #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 1600px) {
        padding-top: 19px;
        text-align: left;
        justify-content: flex-start;
    }
}
