section{
    padding: 50px 10px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 50px auto;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        width: 1400px;
        margin: 100px auto;
    }
}

.guarantee__title{
    color: #0F2650;
    font-family: Poppins;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;

    @media screen and (min-width: 375px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1600px) {
        margin-bottom: 40px;
        font-size: 50px;
    }
}

.guarantee__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 30px;

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        width: 100%;
    }
}

.guarantee__item{
    display: flex;
    height: 180px;
    padding: 20px 14px;
    align-items: center;
    justify-content: center;
    gap: 21px;

    border-radius: 16px;
    border: 0.529px solid rgba(0, 0, 0, 0.10);
    background: #ECF8FF;

    @media screen and (min-width: 480px) {
        width: 460px;
        gap: 30px;
        justify-content: flex-start;
    }

    @media screen and (min-width: 1600px) {
        width: 674px;
        height: 240px;
        padding: 39px 27px;
        gap: 40px;
        border-radius: 30px;
        justify-content: center;

        svg{
            width: 129px;
            height: 160px;
        }
    }
}

.guarantee__text-cont{
    width: 180px;
    
    @media screen and (min-width: 375px) {
        width: 238.607px;
    }

    @media screen and (min-width: 480px) {
        width: 280px;
    }

    @media screen and (min-width: 1600px) {
        width: 451px;
    }
}

.guarantee__text-title{
    color: #0F2650;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;

    @media screen and (min-width: 1600px) {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.guarantee__text{
    color: #797979;
    font-family: Poppins;
    font-size: 13px;    
    font-weight: 400;
    line-height: 157.4%;

    @media screen and (min-width: 375px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 22px;
    }
}