.mobile-title {
    @media screen and (min-width: 1600px) {
        display: none;
    }
}

.laptop-title {
    display: none;

    @media screen and (min-width: 1600px) {
        display: block;
    }
}

.cart__promo-cont,
.cart__order-cont {
    margin-bottom: 15px;

    @media screen and (min-width: 1600px) {
        margin-bottom: 40px;
    }
}

.cart__promo-bold-text,
.cart__order-bold-text {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    /* 17.6px */

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.cart__cont {
    padding: 16.157px 22.313px;
    border-radius: 7.694px;
    border: 1px solid #CCC;

    form {
        display: flex;
        gap: 10px;
        margin-bottom: 4px;
    }

    @media screen and (min-width: 1600px) {
        border-radius: 10px;
        padding: 21px 29px;

        form {
            gap: 13px;
            margin-bottom: 6px;
        }
    }
}

.cart__sub-title {
    margin-bottom: 10px;

    @media screen and (min-width: 1600px) {
        margin-bottom: 13px;
    }
}

.cart__order-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 1600px) {
        gap: 13px;
    }
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(204, 204, 204, 0.70);
}

.cart__order-item {
    display: flex;
    justify-content: space-between;
}

.cart__order-text {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    line-height: 110%;

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.bolder {
    font-weight: 500;
}

.cart__order-btn {
    background-color: transparent;
    border: none;
    color: #0D6EFD;
    font-family: Poppins;
    font-size: 15px;
    line-height: 110%;
    cursor: pointer;
    padding: 0;

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.cart__order-grey-text {
    color: #909090;
    font-family: Poppins;
    font-size: 15px;
    line-height: 110%;

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.cart__order-price {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 110%;

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.cart__discount-price {
    color: red;
}

.purchase-progres-bar-cont{
    margin-bottom: 40px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1600px) {
        display: flex;
        width: 1060px;
    }
}

.purchase-progres-bar-titles-cont{
    display: flex;
    justify-content: center;
    width: 1060px;
    gap: 181px;
    margin-bottom: 15px;

    p{
        color: #D0D5DD;
        text-align: left;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.55;
        position: relative;

        &::after{
            content: '';
            width: 22px;
            height: 22px;
            background-color: #D0D5DD;
            border-radius: 50%;
            position: absolute;
            bottom: -28px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.active{
    color: #0D6EFD !important;

    &::after {
        background-color: #0D6EFD !important;
    }

}

.purchase-progres-bar-line{
    border-radius: 2px;
    background: #D0D5DD;
    width: 903px;
    height: 4px;
}

.purchase-progres-bar-line-second-phase,
.purchase-progres-bar-line-third-phase{
    height: 100%;
    background-color: #0D6EFD;
    border-radius: 2px;
}

.purchase-progres-bar-line-second-phase{
    width: 310px;
}

.purchase-progres-bar-line-third-phase{
    width: 620px;
}

.cart__btn {
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0 auto;
    border-radius: 6.155px;
    background: linear-gradient(90deg, #0F2650 4.29%, rgba(15, 38, 80, 0.81) 92.86%);

    color: #EEFBFA;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in all;

    &:hover,
    &:focus {
        border: 1px solid #0F2650;
    }

    @media screen and (min-width: 375px) {
        padding: 0 50px;
    }

    @media screen and (min-width: 1600px) {
        width: 400px;
        height: 55px;
        margin: 0;
    }
}