section {
    padding: 50px 10px;
    background: #ECF8FF;

    @media screen and (min-width: 1280px) {
        padding: 75px 0;
    }

    @media screen and (min-width: 1600px) {
        padding: 100px 0;
    }
}

.product__tables-list{
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media screen and (min-width: 375px) {
        width: 355px;
        margin: 0 auto;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1280px) {
        width: 1200px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
    }
}

.product__table-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__table-title{
    width: 100%;
    padding: 0 0 20px 0;
    color: #242E49;
    border: none;
    border-bottom: 1px solid rgba(18, 41, 82, 0.30);;
    background-color: transparent;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Plus Jakarta Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: -0.6px;
    cursor: pointer;

    span{
        color: #0D6EFD;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.4;
        padding: 0 0 21px 0;
    }

    @media screen and (min-width: 1600px) {
        font-size: 40px;
        padding: 0 0 28px 0;
    }
}

.button-content{
    display: inline-block;
}

.active{
    padding: 0;
    color: #242E49;
    border: none;
    background-color: transparent;
    display: block;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    font-size: 30px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: -0.6px;
    cursor: pointer;

    span{
        color: #0D6EFD;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.4;
        padding: 0 0 21px 0;
    }

    @media screen and (min-width: 1600px) {
        font-size: 40px;
        padding: 0 0 28px 0;
    }
}

.product-table-laptop{
    display: none;
    margin-top: 30px;

    @media screen and (min-width: 1280px) {
        display: block;
        width: 100%;
    }
}

.product-table-mobile {
    width: 100%;
    margin-top: 30px;

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.head {
    background-color: #D7F0FF;
    height: 63px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    border-radius: 20px 20px 0 0;
    border: 1px solid #C6CACC;
    justify-content: space-between;

    p {
        color: #21365D;
        text-align: center;
        font-family: "Plus Jakarta Sans";
        font-size: 15px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
    }

    @media screen and (min-width: 1280px) {
        height: 70px;
        width: 100%;
        justify-content: space-around;
        padding: 0;

        p{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            font-size: 22px;
            height: 70px;

            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.20);
            }
        }
    }

    @media screen and (min-width: 1600px) {
        height: 90px;

        p{
            width: 400px;
            font-size: 30px;
            height: 90px;
        }
    }
}

.body {
    background: #F7FCFF;
    padding: 15px 0;
    border-radius: 0 0 20px 20px;

    .column {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 6px 10px;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        }
    }

    .product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        div {
            max-width: 70px;
            color: #000;
            font-family: Plus Jakarta Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;

            @media screen and (min-width: 375px) {
                // max-width: 110px;
            }
        }

        .price {
            text-align: right;

            p {
                margin: 0;
                text-align: right;
            }

            span {
                font-weight: 500;
            }
        }
    }

    button {
        width: 125px;
        height: 39px;
        border-radius: 10.205px;
        background: linear-gradient(90deg, #0F2650 4.29%, #3D4F71 92.86%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border: none;
        color: #FFF;
        font-family: Plus Jakarta Sans;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1.2px;
        cursor: pointer;

        &:focus,
        &:hover {
            background-color: var(--ui-primary-hovered-blue);
        }
    }

    @media screen and (min-width: 1280px) {
        padding: 0;
        display: flex;
        justify-content: space-around;
        border-left: 1px solid rgba(0, 0, 0, 0.20);
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        overflow: hidden;

        .column{
            width: 300px;
            padding: 0;
            gap: 0;

            div{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70px;
                font-size: 18px;
                font-weight: 700;
                border-right: 1px solid rgba(0, 0, 0, 0.20);
                border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            }

        }

        button{
            width: 135.046px;
            height: 41.282px;
            border-radius: 12px;
            gap: 7px;
            font-size: 14px;
        }
    }

    @media screen and (min-width: 1600px) {

        .column{
            width: 400.941px;

            div{
                height: 90px;
                font-size: 25px;
            }

        }

        button{
            width: 180px;
            height: 55px;
            border-radius: 15px;
            gap: 10px;
            font-size: 18px;
        }
    }
}

.old-price {
    color: #f00;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    text-decoration: line-through;

    @media screen and (min-width: 1600px){
        margin-right: 4px;
    }
    
}

.discount {
    color: #f00;
    font-style: normal;
    font-weight: 400;
}