section{
    padding: 50px 10px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 50px auto;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1280px) {
        margin: 65px auto 100px;
        width: 1200px;
    }

    @media screen and (min-width: 1600px) {
        margin: 80px auto 100px;
        width: 1600px;
    }
}

.product__nav-cont{
    margin-bottom: 35px;
    padding-bottom: 6px;
    display: flex;
    border-bottom: 5px solid #EAECF0;

    @media screen and (min-width: 1280px) {
        gap: 66px;
        padding-bottom: 13px;
        margin-bottom: 23px;
    }

    @media screen and (min-width: 1600px) {
        gap: 85px;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }
}

.product__nav{
    border: none;
    background-color: transparent;
    padding: 0;
    color: #164C96;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    width: 50%;
    text-align: left;

    cursor: pointer;

    @media screen and (min-width: 1280px) {
        font-size: 22px;
        text-align: center;
        width: 125px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
        width: 175px;
    }
}

.selected{
    width: 100%;
    height: 5px;
    background-color: #164C96;
    position: absolute;
    bottom: -11px;
    left: 0;

    @media screen and (min-width: 1280px) {
        bottom: -16px;
    }

    @media screen and (min-width: 1600px) {
        bottom: -20px;
    }
}

.product__desc-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1280px) {
        width: 1054px;
        gap: 20px;
    }

    @media screen and (min-width: 1600px) {
        width: 1405px;
        gap: 30px;
    }
}

.product__desc-title{
    color: #344054;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-align: left;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: none;
    background-color: transparent;
    padding: 0;

    cursor: pointer;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.product__desc-btn{
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 50%;
    background-color: #21365D;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 18px;
        height: auto;
    }

    @media screen and (min-width: 1600px) {
        width: 45px;
        height: 45px;
    }
}

.product__desc-text{
    margin-top: 25px;
    color: #667085;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.6;

    @media screen and (min-width: 1280px) {
        margin-top: 18px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
        line-height: 1.8;
    }
}

.product__reviews-section{

    @media screen and (min-width: 1280px){
       width: 852px; 
    }

    @media screen and (min-width: 1600px){
       width: 1133px; 
    }
}

.product__reviews-title{
    margin-bottom: 20px;
    color: #344054;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    @media screen and (min-width: 1280px) {
        font-size: 22px;
        text-align: left;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.product__reviews-statistic-cont{
    @media screen and (min-width: 1280px){
        display: flex;
        gap: 10px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1600px){
        display: flex;
        gap: 13px;
        margin-bottom: 40px;
    }
}

.product__raiting-cont{
    border-radius: 10px;
    background: #F9FAFB;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        width: 298.873px;
        height: 230.674px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1600px) {
        width: 398px;
        height: 307px;
    }
}

.product__raiting-mark{
    color: #0D6EFD;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 700;

    @media screen and (min-width: 1280px) {
        font-size: 60px;
        line-height: 1;
    }

    @media screen and (min-width: 1600px) {
        font-size: 80px;
    }
}

.product__raiting-text{
    color: #4F547B;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;

    @media screen and (min-width: 1280px) {
        margin-top: 10px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 22px;
        margin-top: 15px;
    }
}

.product__stars-cont{
    border-radius: 10px;
    background: #F9FAFB;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 40px;

    li{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        padding: 0 16px;

        @media screen and (min-width: 1280px){
            gap: 15px;
        }

        @media screen and (min-width: 1600px){
            gap: 20px;
        }

    }

    @media screen and (min-width: 1280px) {
        width: 543.588px;
        gap: 27px;
        padding: 15px 25px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1600px) {
        width: 722px;
        gap: 35px;
        padding: 20px 40px;
        margin-bottom: 0;
    }
}

.product__stars-line{
    display: none;
    width: 150px;
    height: 5px;
    background-color: #E6EAEEB2;

    @media screen and (min-width: 375px) {
        display: block;
    }

    @media screen and (min-width: 1280px) {
        width: 350px;
    }

    @media screen and (min-width: 1600px) {
        width: 420px;
    }
}

.product__stars-raiting{
    color: #0D6EFD;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-left: 16px;
    width: 36px;
    text-align: right;
}

.product__reviews-cont{
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width: 1280px) {
        gap: 40px;
    }

    @media screen and (min-width: 1600px) {
        gap: 25px;
    }
}

.product__review-cont{
    display: flex;
    gap: 27px;

    @media screen and (min-width: 1280px) {
        gap: 24px;
    } 

    @media screen and (min-width: 1600px) {
        gap: 32px;
    } 
}

.product__review-avatar{
    width: 56.916px;
    height: 56.916px;
    border-radius: 50%;
    border: none;

    svg{
        width: 56.916px;
        height: 56.916px;
    }

    @media screen and (min-width: 1280px) {
        width: 51px;
        height: 51px;

        svg{
            width: 51px;
            height: 51px;
        }
    }

    @media screen and (min-width: 1600px) {
        width: 68px;
        height: 68px;

        svg{
            width: 68px;
            height: 68px;
        }
    }
}

.product__review-text-cont{
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (min-width: 1280px) {
        width: 742.168px;
        gap: 20px;
    }

    @media screen and (min-width: 1600px) {
        width: 987px;
        gap: 25px;
    }
}

.product__reviewer-text-cont{
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1280px) {
        gap: 5px;
        justify-content: flex-start;
    }

    @media screen and (min-width: 1600px) {
        gap: 6px;
    }
}

.product__reviewer-name{
    color: #1D2939;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;
    text-transform: capitalize;

    @media screen and (min-width: 375px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1280px) {
        line-height: 1.4;
    }

    @media screen and (min-width: 1600px) {
        font-size: 25px;
    }
}

.product__reviewer-text-data{
    color: #4F547B;
    font-family: Inter;
    font-size: 13px;
    line-height: 2;

    @media screen and (min-width: 1280px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 19px;
    }
}

.product__review-info-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media screen and (min-width: 1600px) {
        gap: 6px;
    }
}

.product__review-topic{
    color:#1D2939;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__review-text{
    color: #667085;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (min-width: 1280px) {
        line-height: 1.7;
        margin-bottom: 9px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__review-btns-cont{
    display: flex;
    gap: 15px;

    @media screen and (min-width: 1600px) {
        gap: 20px;
    }
}

.product__review-like-btn{
    border: none;
    color: #667085;
    font-family: Poppins;
    font-size: 17px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;


    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__review-comment-btn{
    border: none;
    padding: 0;
    background-color: transparent;
    color:  #D94A27;
    font-family: Poppins;
    font-size: 17px;
    cursor: pointer;

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__reviews-link{
    color: #0D6EFD;
    font-family: Inter;
    font-size: 16px;
    text-decoration-line: underline;
    text-align: center;
    margin-top: -40px;
    cursor: pointer;

    @media screen and (min-width: 1280px) {
        margin-top: 0;
    }

    @media screen and (min-width: 1600px) {
        margin-top: 15px;
        font-size: 20px;
    }
}

.product__form-title-cont{
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1280px) {
        margin-top: 30px;
        margin-bottom: 24px;
        align-items: flex-start;
    }

    @media screen and (min-width: 1600px) {
        margin-top: 40px;
        margin-bottom: 30px;
    }
}

.product__form-title{
    color: #344054;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;

    @media screen and (min-width: 1280px) {
        font-size: 24px;
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 32px;
        margin-bottom: 18px;
    }
}

.product__form-after-title{
    color: #1D2939;
    font-family: Poppins;
    font-size: 16px;

    @media screen and (min-width: 1280px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 25px;
    }
}

.product__form{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1280px) {
        gap: 22px;
    }

    @media screen and (min-width: 1600px) {
        gap: 30px;
    }
}

.product__review-input-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    label{
        display: block;
        color: #1D2939;
        font-family: Poppins;
        font-size: 18px;
    }

    input,
    textarea{
        border-radius: 19px;
        border: 1px solid #DDD;
        background: #FFF;
        height: 73.333px;
        padding: 20px 30px;

        font-family: Poppins;
        font-size: 16px;
        line-height: 1.4;

        &::placeholder{
            color: #667085;
        }
    }

    textarea{
        height: 250px;
        resize: none;
    }

    @media screen and (min-width: 1280px) {

        label{
            font-size: 18px;
        }

        input,
        textarea{
            border-radius: 15px;
            padding: 15px 22px;
            font-size: 15px;
            line-height: 1.7;
        }

        textarea{
            height: 180px;
        }
    }

    @media screen and (min-width: 1600px) {

        label{
            font-size: 25px;
        }

        input,
        textarea{
            font-size: 20px;
        }

        textarea{
            height: 240px;
        }
    }
}

.product__review-form-btn{
    border-radius: 15px;
    background: linear-gradient(90deg, #0F2650 4.29%, #3D4F71 92.86%);
    border: none;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7;

    cursor: pointer;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        width: 190px;
        height: 60px;
        margin-top: -8px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 24px;
        width: 250px;
        height: 80px;
    }
}

.zero{
    width: 0px;
    height: 5px;
    background-color: #0D6EFD;
}
.twenty-five {
    width: 25%;
    height: 5px;
    background-color: #0D6EFD;
}
.fifty {
    width: 50%;
    height: 5px;
    background-color: #0D6EFD;
}
.seventy-five {
    width: 75%;
    height: 5px;
    background-color: #0D6EFD;
}
.hundred {
    width: 100%;
    height: 5px;
    background-color: #0D6EFD;
}