section {
    margin: 66px 10px 50px;

    @media screen and (min-width: 480px) {
        width: 460px;
        margin: 50px auto 50px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        margin: 130px auto 100px;
    }

    position: relative;
}

.testimonials__title{
    color:#1C1C1C;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1600px) {
        font-size: 50px;
        margin-bottom: 80px;
    }
}

.swiper {
    width: 100%;
    padding: 35px 0;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 375px) {
        width: 355px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
        height: auto;
    }

    @media screen and (min-width: 1600px) {
        width: 1400px;
        height: 550px;
        padding: 40px 40px 0px;
        overflow: hidden;
    }
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;

    @media screen and (min-width: 480px) {
        margin: 0 auto 40px;
    }

    @media screen and (min-width: 1600px) {
        // overflow: hidden;
        padding: 40px 0 50px;
        flex-direction: row;
        overflow: visible;
        align-items: center;
        // justify-content: center;
        justify-content: space-evenly;
        width: auto;
        gap: 42.14px;
        margin-bottom: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 40px;
    }
}

.swiper-slide {
    padding: 18px 23px 33px 23px;
    width: 100%;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 30px;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 !important;
    position: relative;
    box-shadow: 0px 27px 58px 1px rgba(21, 21, 21, 0.5);

    @media screen and (min-width: 375px){
        width: 355px !important;
        height: 250px;
    }

    @media screen and (min-width: 480px){
        width: 413px !important;
        height: 320px;
        border-radius: 16px;
    }

    @media screen and (min-width: 1600px) {
        height: 330px ;
        width: 415px !important;
        border-radius: 17.743px;
        gap: 35px;
        padding: 22.179px 27.723px 38.813px 27.723px;
        box-shadow: 0px 32.085px 68.267px 0px rgba(21, 21, 21, 0.05);
    }
}

.selected{
    @media screen and (min-width: 1600px){
        gap: 45px;
        height: 410px;
        box-shadow: 0px 32.085px 68.267px 0px rgba(21, 21, 21, 0.15);
        .testimonials__item-reviewe{
            height: 200px;
        }
    }
}

.testimonials__item-avatar{
    width: 71.433px;
    height: 71.433px;
    position: absolute;
    left: 23px;
    top: -35px;

    @media screen and (min-width: 1600px) {
        left: 27px;
        width: 84px;
        height: 84px;;
    }
}

.testimonials__item-raiting{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (min-width: 1600px) {}
}

.testimonials__item-reviewe{
    color: #000;
    font-family: Poppins;
    font-size: 16px;

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.testimonials__item-extra-info-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.testimonials__item-name{
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;

    @media screen and (min-width: 1600px) {
        font-size: 15px;
    }
}

.testimonials__item-details{
    color: #505050;
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;

    @media screen and (min-width: 1600px) {
        font-size: 11px;
    }
}

.testimonials__buttons-cont{
    display: none;
    width: 100%;
    height: 60px;
    gap: 20px;
    text-align: center;
    justify-content: center;

    @media screen and (min-width: 1600px){
        display: flex;
        position: absolute;
        top: 310px;
        left: 50%;
        transform: translateX(-50%);
        width: 1600px;
        height: 100px;
        
        text-align: center;
        justify-content: space-between;
    }
}

.button{
    background-color: transparent;
    border: none;
    width: 60px;
    height: 60px;
    padding: 0;
    cursor: pointer;

    @media screen and (min-width: 1600px) {
        width: 100px;
        height: 100px;
    }
}

