.product__item {
    display: flex;
    height: 164.36px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #93C1FE;

    @media screen and (min-width: 375px) {
        width: 168px;
    }

    @media screen and (min-width: 480px){
        width: 220px;
    }

    @media screen and (min-width: 1600px) {
        height: 376px;
        width: 384px;
        border-radius: 31px;
    }
}

.product__img-cont {
    border-bottom: 1px solid #93C1FE;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    overflow: hidden;

    img{
        max-width: 108px;
    }

    @media screen and (min-width: 375px){
        img{
            max-width: 108px;
        }
    }

    @media screen and (min-width: 480px){
        img{
            max-width: 108px;
        }
    }

    @media screen and (min-width: 1600px) {
        height: 244px;

        img {
            max-width: 220px;
            height: auto;
        }
    }
}

.product__text-cont {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 13px;

    @media screen and (min-width: 375px) {
        gap: 20px;
    }

    @media screen and (min-width: 1600px) {
        gap: 53px;
        justify-content: center;
        margin-top: 22px;
        padding: 0;
    }
}

.product__item-title {
    color: #122953;
    font-family: Poppins;
    font-size: 9px;
    font-weight: 700;

    @media screen and (min-width: 480px){
        font-size: 14px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__item-price {
    color: #0D6EFD;
    font-family: Poppins;
    font-size: 9px;

    span {
        font-weight: 700;
    }

    @media screen and (min-width: 480px){
        font-size: 11px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.product__item-medic {
    color: #0F2650;
    font-family: Poppins;
    font-size: 7.869px;
    line-height: 15px;

    @media screen and (min-width: 480px){
        font-size: 11px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.product__button {
    display: flex;
    width: 65px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #005ADE;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    color: #142A53;
    font-family: Inter;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;

    transition: all 0.3s ease;
    
    &:hover,
    &:focus {
        color: #fff;
        background-color: #005ADE;
    }

    @media screen and (min-width: 480px){
        width: 70px;
        height: 30px;
        border-radius: 8px;
        font-size: 11px;
    }

    @media screen and (min-width: 1600px) {
        width: 149.135px;
        height: 56.961px;
        border-radius: 15.535px;
        font-size: 18px;
    }
}