section{
    padding: 30px 10px 50px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 30px auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
    }
}

.product__nav-cont{
    border-radius: 5.787px;
    background: #EDF0F8;
    width: 240px;
    padding: 5.787px 8.68px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto 50px;

    @media screen and (min-width: 1600px) {
        width: 370px;
        height: 46px;
        margin: 0 0 40px;
        gap: 17px;
    }
}

.product__nav-text{
    color: #A3A9C2;
    font-family: Poppins;
    font-size: 10.127px;

    @media screen and (min-width: 1600px) {
        font-size: 17.47px;
    }
}

.product__nav-arrow{

    @media screen and (min-width: 1600px) {
        width: 19.966px;
        height: 19.966px;
    }
}

.bold{
    font-weight: 600;
    color: #3A4980;
}

.product__cont{
    @media screen and (min-width: 1600px){
        display: flex;
        gap: 138px;
        align-items: center;
    }
}

.product__main-cont{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;

    @media screen and (min-width: 1600px) {
        width: 732px;
        margin-bottom: 0;
    }
}

.product__img-cont{
    border-radius: 21.214px;
    border: 1.248px solid #86B6FE;
    background: #ECF8FF;
    height: 248.864px;

    display: flex;
    align-items: center;
    justify-content: center;

    img{
        max-width: 260.396px;
        height: auto;
    }

    @media screen and (min-width: 1600px) {
        height: 515.993px;

        img{
            max-width: 540.396px;
            height: auto;
        }
    }
}

.product__main-text-cont{
    margin-bottom: 20px;

    @media screen and (min-width: 1600px) {
        display: none;
    }
}

.product__info-cont{
    @media screen and (min-width: 1600px){
        width: 726.265px;
    }
}

.product__main-text-cont-laptop{
    display: none;

    @media screen and (min-width: 1600px) {
        display: block;
    }
}

.product__title{
    color: #0F2650;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 1600px) {
        text-align: left;
        font-size: 50px;
        margin-bottom: 13px;
    }
}

.product__main-desc{
    color: #181945;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.32px;

    @media screen and (min-width: 1600px) {
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E4E4E4;
        margin-bottom: 20px;
    }
}

.product__price-cont{

    @media screen and (min-width: 1600px) {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
    }
}

.product__price{
    color: #3A4980;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;

    @media screen and (min-width: 1600px) {
        font-size: 42px;
    }
}

.product__price-text{
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 20px;

    @media screen and (min-width: 1600px) {
        font-size: 26.205px;
        margin-bottom: 0;
    }
}

.product__opinion-cont{
    display: flex;
    margin-bottom: 17px;
    gap: 15px;
    align-items: center;
}

.product__like-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 10px;
    background: #FBF3EA;

    width: 80px;
    height: 40px;

    color: #D48D3B;
    font-family: Inter;
    font-size: 17.47px;
    font-weight: 600;

    @media screen and (min-width: 1600px) {
        height: 50px; 
        width: 90px;
        font-size: 19px;
    }
}

.product__reviews-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border-radius: 10px;
    background: #EDF0F8;

    width: 150px;
    height: 40px;

    color: #3A4980;
    font-family: Inter;
    font-size: 17.47px;
    font-weight: 600;

    @media screen and (min-width: 1600px) {
        height: 50px;
        width: 165px;
        font-size: 19px;
    }
}

.product__light-text{
    color: #B9BBBF;
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 18px;

    span{
        color: #3E9242;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
        margin-bottom: 0;
    }
}

.product__details-cont{
    padding: 18px 0;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    margin-bottom: 18px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    p{
        color: #364A6D;
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
    }

    @media screen and (min-width: 1600px) {
        padding: 20px 0;
        margin-bottom: 20px;
        gap: 20px;

        p{
            font-size: 20px;
        }
    }
}

.underlined {
    text-decoration: underline;
}

.product__delivery-cont{
    border-radius: 17px;
    border: 1px solid #0D6EFD;
    padding: 21px;
    display: flex;
    justify-content: center;
    gap: 25px;

    @media screen and (min-width: 1600px) {
        gap: 17px;
    }
}

.product__delivery-text-cont{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 190px;

    @media screen and (min-width: 375px) {
        width: 250px;
    }

    @media screen and (min-width: 1600px) {
        width: 620px;
    }
}

.product__delivery-title{
    color: #0D6EFD;
    font-family: Inter;
    font-size: 21px;
    font-weight: 700;
}

.product__delivery-text{
    color: #726C6C;
    font-family: Inter;
    font-size: 17px;
}