section {
    padding: 30px 10px 50px;

    @media screen and (min-width: 480px) {
        padding: 10px 0 50px;
    }

    @media screen and (min-width: 1600px) {
        padding: 10px 0 100px;
    }
}

.hero__spec-cont{
    border-radius: 20px;
    background-color: #0A84FF;
    width: 100%;
    height: 625px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 0 15px;

    overflow: hidden;

    margin-bottom: 7px;

    @media screen and (min-width: 480px) {
        width: 460px;
        margin: 0 auto 7px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        height: 446.72px;
        padding: 70px 100px 0 870px;
        margin: 0 auto 20px;
        position: relative;
    }
}

h1{
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    line-height: 34px;
    text-align: center;
    font-weight: 400;
    display: block;

    @media screen and (min-width: 1600px) {
        font-size: 88px;
        width: 625px;
        text-align: left;
        display: inline-block;
    }
}

.large {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 34px;
    display: block;

    @media screen and (min-width: 375px) {
        font-size: 47px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 55.67px;
        // display: inline-block;
    }
}

.middle {
    color: #FFF;
    font-family: Poppins;
    font-size: 35px;
    line-height: 34px;
    display: block;
    font-weight: 400;
    margin-bottom: 15px;

    @media screen and (min-width: 1600px) {
        font-size: 55.67px;
        display: inline-block;
    }
}

.hero__price{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;    
    text-transform: uppercase;

    margin-bottom: 17px;

    span{
        font-size: 40px;
        font-weight: 600;
    }

    @media screen and (min-width: 1600px) {
        text-align: left;
    }
}

.button {
    border-radius: 20px;
    border-color: transparent;
    padding: 25px 80px;
    margin: 0 auto;
    background: linear-gradient(90deg, #0F2650 4.29%, rgba(15, 38, 80, 0.81) 92.86%);

    color: #EEFBFA;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.hero__dec-cont{
    margin-top: 23px;
    position: relative;
    height: 300px;
    width: 260px;

    @media screen and (min-width: 1600px) {
        position: static;
        margin-top: 0;
        height: 0;
        width: 0;
    }
}

.dot{
    border-radius: 50%;
    position: absolute;
}

.dark {
    background-color: #0F2650;
    width: 6px;
    height: 6px;

    @media screen and (min-width: 1600px) {
        width: 11px;
        height: 11px;
    }
}

.blue{
    width: 11.928px;
    height: 11.928px;
    background-color: rgba(255, 255, 255, 0.60);
    top: -15px;
    right: -35px;

    @media screen and (min-width: 1600px) {
        width: 26px;
        height: 26px;
        top: 50px;
        left: 250px;
    }
}

.first {
    top: 200px;

    @media screen and (min-width: 1600px) {
        top: 203px;
        left: 560px;
    }
}

.second{
    top: 100px;
    right: 20px;

    @media screen and (min-width: 1600px) {
        display: none;
    }
}

.third {
    display: none;
    width: 16px;
    height: 16px;
    top: 383px;
    left: 63px;

    @media screen and (min-width: 1600px) {
        display: block;
    }
}

.forth {
    display: none;
    width: 16px;
    height: 16px;
    top: 115px;
    left: 700px;

    @media screen and (min-width: 1600px) {
        display: block;
    }
}

.large-circle{
    width: 165%;
    height: 144%;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    border: 1.215px solid #EEFBFA;
    padding: 17px;
    left: -30%;

    @media screen and (min-width: 1600px) {
        width: 697.453px;
        height: 697.453px;
        top: 64px;
        left: 83px;
        padding: 30px;
    }
}

.small-circle{
    display: none;
    background-color: transparent;
    width: 242.682px;
    height: 242.682px;
    border-radius: 50%;
    border: 1.215px solid #EEFBFA;
    position: absolute;
    top: 292px;
    right: -36px;

    @media screen and (min-width: 1600px) {
        display: block;
    }
}

.filled-circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ABE1FF;
}

.medic{
    background-image: url('/assets/img/mobile/hero-min.png');
    background-repeat: no-repeat;
    width: 267.818px;
    height: 293.427px;

    position: absolute;
    bottom: 0;
    left: 10%;

    @media screen and (min-width: 1600px) {
        background-image: url('/assets/img/laptop/hero-min.png');
        width: 457.265px;
        height: 500.99px;
        top: 0;
        left: 245px;
    }
}

.img1-cont{
    width: 37.048px;
    height: 37.048px;
    border-radius: 8.233px;
    background: #213850;
    transform: rotate(-30deg);
    position: absolute;
    top: 5px;
    left: 0;

    img{
        transform: rotate(30deg);
    }

    @media screen and (min-width: 1600px) {
        width: 86.921px;
        height: 86.921px;
        border-radius: 19.316px;
        top: 115px;
        left: 152px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 90px;
            height: 90px;
        }
    }
}

.img2-cont{
    position: absolute;
    top: 5px;
    right: -25px;
    width: 70.602px;
    height: 70.602px;
    transform: rotate(30deg);
    border-radius: 11.767px;
    border: 0.735px solid #FFF;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(1.103162169456482px);
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        width: 52.952px;
        height: 52.952px;
        flex-shrink: 0;
        border-radius: 11.767px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            transform: rotate(-30deg);
        }
    }

    @media screen and (min-width: 1600px) {
        width: 110.729px;
        height: 110.729px;
        border-radius: 18.455px;
        top: 230px;
        left: 655px;
        z-index: 1;

        div{
            width: 83.046px;
            height: 83.046px;
            border-radius: 18.455px;
            img{
                width: 46.137px;
                height: 46.137px;
            }
        }

    }
}

// SECOND PART
.hero__info-cont{
    display: flex;
    flex-direction: column;
    margin: 0 auto 7px;
    gap: 7px;

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        flex-direction: row-reverse;
        gap: 20px;
        width: 1600px;
        margin: 0 auto;
    }
}

.hero__bonus-cont{
    width: 100%;
    height: 276px;
    padding: 20px 55px;
    border-radius: 20px;
    background: #AEE2FF;
    position: relative;

    @media screen and (min-width: 1600px) {
        width: 790px;
        height: 360.221px;
        padding: 40px 0 30px 75px;
        background-color: transparent;
        background-image: url("/assets/img/laptop/bckgr.png");
    }
    
}

.hero__bonus-back{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(15, 38, 80, 0.03);
    font-family: Poppins;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 375px) {
        font-size: 99.053px;
    }

    @media screen and (min-width: 1600px) {
        top: 120px;
        font-size: 211.625px;
    }
}

.hero__bonus-title{
    color: #0F2650;
    text-align: center;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
        text-align: left;
    }
}

.hero__bonus-details{
    color: #0F2650;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
        text-align: left;
        font-size: 30px;
    }
}

.hero__bonus-img-cont{
    width: 191.055px;
    height: 105.371px;
    background-color: rgba(255, 255, 255, 0.70);
    filter: blur(35.256717681884766px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 1600px) {
        width: 408.32px;
        height: 225.197px;
        transform: translateX(0);
        left: 328px;
        top: 104px;
    }
}

.hero__bonus-img{
    width: 99.424px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: auto;

    @media screen and (min-width: 1600px) {
        top: 67PX;
        left: 405px;
        transform: translateX(0);
        width: 250px;
    }
}

.hero__bonus-after-text{
    color: #0F2650;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 110px;

    @media screen and (min-width: 1600px) {
        text-align: left;
        font-size: 27.421px;
        margin-top: 132px;
    }
}

.hero__bonus-link{
    display: none;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 1600px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 118.855px;
        height: 103.129px;
    }
}

.arrow{
    position: absolute;
    top: 40px;
    right: 46px;
}

.hero__details-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 7px;
    flex-wrap: wrap;

    @media screen and (min-width: 1600px) {
        width: 790px;
        gap: 20px;
    }
}

.hero__small-cont{
    width: 100%;
    display: flex;
    gap: 10px;

    @media screen and (min-width: 1600px) {
        width: 790px;
        gap: 20px;
    }
}

.hero__small-info-cont{
    padding: 10px;
    width: 100%;
    border-radius: 11.218px;
    background-color: #DBEFFA;

    display: flex;
    gap: 7px;

    @media screen and (min-width: 1600px) {
        width: 385px;
        height: 214.358px;
        gap: 20px;
        border-radius: 25px;
        padding: 38px 30px 27px 23px;
        gap: 15px;
    }
}

.hero__back-blue-cont{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 0.321px solid #FFF;
    background: rgba(120, 174, 255, 0.20);

    @media screen and (min-width: 1600px) {
        width: 68.761px;
        height: 68.761px;
        border-radius: 11.46px;
    }
}

.hero__back-white-cont{
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;


    svg{
        width: 13px;
        height: 13px;;
    }

    @media screen and (min-width: 1600px) {
        width: 51.571px;
        height: 51.571px;
        border-radius: 11.46px;

        svg{
            width: 29.031px;
            height: 30.28px;
        }
    }
}

.hero__small-text-cont{
    width: 88px;

    @media screen and (min-width: 375px) {
        min-width: 110px;
    }

    @media screen and (min-width: 1600px) {
        width: 243.788px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.hero__small-percent{
    color: #2D496B;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
        font-size: 50px;
    }
}

.hero__small-offer{
    color: #0F2650;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 99.5%;
    text-transform: uppercase;
    margin-bottom: 3px;

    @media screen and (min-width: 1600px) {
        font-size: 25px;
    }
}

.hero__small-price{
    color: #0F2650;
    font-family: Poppins;
    font-size: 9px;
    text-transform: uppercase;

    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

.hero__big-cont {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: #DBEFFA;

    p{
        color: #0F2650;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 13px;

        span{
            font-size: 20px;
            display: block;
        }
    }

    ul{
        display: flex;
        width: 227.473px;
        margin: 0 auto;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 1600px) {
        border-radius: 25px;
        height: 126.616px;
        padding: 15px 55px 15px 25px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        p{
            font-size: 20px;
            text-align: left;

            span{
                font-size: 30px;
            }
        }

        ul{
            margin: 0;
            
        }
    }
}