<section>
    <div class="hero__spec-cont">
        <h1>
            <span class="large">Special Price</span>
            <span class="middle">for men’s</span>
            Powerpacks
        </h1>

        <p class="hero__price">From <span>$0.62</span> per pill</p>

        <button>buy now</button>

        <div class="hero__dec-cont">
            <div class="large-circle">
                <div class="filled-circle"></div>
            </div>

            <div class="img1-cont">
                <img src="assets\img\mobile\img1-min.png">
            </div>

            <div class="img2-cont">
                <div>
                    <img src="assets\img\mobile\shielddone-min.png">
                </div>
            </div>

            <div class="dot blue "></div>
            <div class="dot dark first"></div>
            <div class="dot dark second"></div>

            <div class="medic"></div>
        </div>
    </div>

    <div class="hero__info-cont">
        <div class="hero__bonus-cont">
            <p class="hero__bonus-back">bonus</p>
            <p class="hero__bonus-title">bonus</p>
            <p class="hero__bonus-details">ERECTILE PILLS</p>

            <div class="hero__bonus-img-cont"> </div>
            <img class="hero__bonus-img" src="assets\img\mobile\viagra-two-min.png" />

            <p class="hero__bonus-after-text">*for every order</p>
        </div>

        <div class="hero__details-cont">
            <div class="hero__small-cont">
                <div class="hero__small-info-cont">
                    <div class="hero__back-blue-cont">
                        <div class="hero__back-white-cont"><img src="" /></div>
                    </div>
                    <div>
                        <p>-10%</p>
                        <p>Special Offers </p>
                        <p>From any other online pharmacy price</p>
                    </div>
                </div>
                <div></div>
            </div>

            <div class="hero__big-cont">
                <p><span>VERIFIED STORE</span>
                    More 100 approved certificates</p>
                <ul>
                    <li><img src="assets\img\mobile\mastercard-min.png"></li>
                    <li><img src="assets\img\mobile\visa-min.png"></li>
                    <li><img src="assets\img\mobile\cipa-min.png"></li>
                    <li><img src="assets\img\mobile\geu-min.png"></li>
                    <li><img src="assets\img\mobile\fda-min.png"></li>
                    <li><img src="assets\img\mobile\mcafee-min.png"></li>
                </ul>
            </div>
        </div>

    </div>
</section>