<section>
    <div class="exp__cont">
        <img class="exp__img1" src="assets\img\mobile\about-min.png">
        <img class="exp__img2" src="assets\img\mobile\about-2-min.png">
        <h1 class="exp__title">3 Years of experience in this bussiness</h1>
        <p class="exp__text">Our website, with over 3 years of experience, stands out as a leading Internet drugstore, aiming to offer
            safe generic
            drugs at competitive prices. We provide high-quality generic medicines directly shipped from India, meeting
            rigorous
            standards set by the Indian FDA and international certifications. Our products are carefully produced in
            world-class
            pharmaceutical factories, ensuring safety and effectiveness. With a focus on customer needs, our experienced
            team is
            dedicated to providing guidance and solving any issues that may arise. Your well-being is our priority!</p>

        <div class="exp__details-cont">
            <ul class="exp__details-list">
                <li>
                    <p class="exp__details-digit">1k</p>
                    <p class="exp__details-text">Satisfied clients</p>
                </li>
                <li>
                    <p class="exp__details-digit">24h</p>
                    <p class="exp__details-text">Expert Support Team</p>
                </li>
                <li>
                    <p class="exp__details-digit">3k+</p>
                    <p class="exp__details-text">Sales Count</p>
                </li>
                <li>
                    <p class="exp__details-digit">85%</p>
                    <p class="exp__details-text">Trust Rating</p>
                </li>
            </ul>
        </div>
    </div>
</section>