<section>
    <h2>Shipping FAQ</h2>
    <ul>
        <li *ngFor="let item of content" [ngClass]="{'selected-item': isItemSelected(item.id)}">

            <button (click)="toggleAnswer(item.id)">
                <h3>{{item.question}}</h3>

                <div class="faq-btn"> <img src="assets/img/mobile/small-arrow.png"
                        [ngStyle]="{'transform': selectedQuestion === item.id ? 'rotate(90deg)' : 'rotate(0)' }"></div>
            </button>

            <p *ngIf="selectedQuestion == item.id">{{item.answer}}</p>

            <ul *ngIf="item.table && selectedQuestion == item.id" class="table">
                <li class="header">
                    <div>
                        <p class="bolder">Questions</p>
                    </div>
                    <div>
                        <p class="bolder">Trackable Courier Service</p>
                    </div>
                    <div>
                        <p class="bolder">International Unregistered Mail</p>
                    </div>
                </li>
                <li *ngFor="let question of tableContent" class="row">
                    <div>
                        <p class="bolder">{{question.question}}</p>
                    </div>

                    <div *ngIf="isString(question.courier)">
                        <p>{{ question.courier }}</p>
                    </div>
                    
                    <div *ngIf="isArray(question.courier)">
                        <ul class="countries">
                            <li *ngFor="let country of question.courier" class="country">{{ country }}</li>
                        </ul>
                    </div>

                    <div>
                        <p>{{question.mail}}</p>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>