<section>
    <h1 class="shipping__title">Shipping</h1>
    <ul class="shipping__list">
        <li class="shipping__item">
            <p class="shipping__p-title">Why is there no record of my tracking number with the regular delivery?</p>
            <p class="shipping__p-text">The number provided by regular delivery is NON-trackable. It is only in effect
                once the order has delivered or after
                there has been a delivery attempt made. It is provided to us by the regular delivery services so that we
                could ensure
                that you have received your order successfully.</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">Why does my Express delivery tracking number show no history yet?</p>
            <p class="shipping__p-text">Express delivery is only tracked after four business days following the order
                processing. It is effectively useless
                prior to the four business day mark.</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">What should I do if I still haven't received my order?</p>
            <p class="shipping__p-text">There's of course a risk of orders getting lost in the international mail
                system, but the chance of it is very low
                (below 1%). We are proud to offer you a guaranteed delivery - in the improbable event that your order
                doesn't reach you,
                we will re-ship it or we will give you a refund, provided that you supplied correct delivery details
                when making an
                order. This will happen if your order still hasn't reached you after 30 days since it's been sent from
                our side. If
                there are still any delivery-related questions you want to ask, which are not answered on our site,
                please feel free to
                get in touch with us.</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">What should I do if my order is partially missing?</p>
            <p class="shipping__p-text">The most probably cause of you missing some of the ordered pills is that those
                were shipped to you in a separate package
                and are to arrive within the next couple of days. If that is not the case, please do let us know so that
                we could
                investigate the issue and re-send you the missing medicines if applicable.</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">What should I do if my order is delayed by customs?</p>
            <p class="shipping__p-text">Should it happen so that your order is held up at customs, causing you not to
                receive it, please do let us know so that
                we could either re-ship it at our expense or refund you the amount paid (if you prefer not to wait).</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">How are the orders sent?</p>
            <p class="shipping__p-text">We highly value your trust and understand your confidentiality and anonymity
                concerns when placing an online order,
                that's why we will always send you the products in discreet packages, the outside of which doesn't
                contain any
                information about the package contents.</p>
        </li>
        <li class="shipping__item">
            <p class="shipping__p-title">Do you provide worldwide shipping?</p>
            <p class="shipping__p-text">We ship to most countries worldwide. When you check-out your order and provide
                your address to us, you will see the full
                list of countries eligible for shipping.</p>
        </li>
    </ul>
</section>