section{
    border-radius: 20px;
    background: #212844;
    margin: 30px 10px 50px;
    padding: 28px 40px;
    position: relative;
    overflow: hidden;
    position: relative;

    height: 554px;

    @media screen and (min-width: 375px) {
        width: 355px;
        margin: 30px auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1280px) {
        width: 1130px;
        height: 300px;
        margin: 0 auto 60px;
        padding: 50px 85px;
    }

    @media screen and (min-width: 1600px) {
        width: 1500px;
        height: 400px;
        margin: 0 auto 80px;
        padding: 80px 113px;
    }
}

.hero__text-cont{
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media screen and (min-width: 1280px) {
        width: 550px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }

    @media screen and (min-width: 1600px) {
        width: 722.615px;
        gap: 25px;
    }
    
}

.hero__text{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    line-height: 1.25;

    @media screen and (min-width: 375px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
        text-transform: uppercase;
    }

    @media screen and (min-width: 1600px) {
        font-size: 38px;
        text-transform: none;
    }
}

.hero__title{
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 600;
    line-height: 1;

    @media screen and (min-width: 375px) {
        font-size: 41px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 70px;
        margin-top: -5px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 80px;
    }
}

.hero__back-circle{
    width: 688px;
    height: 688px;
    padding: 24px;
    border-radius: 50%;
    border: 1.333px solid #3C466B;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 1280px) {
        width: 516px;
        height: 516px;
        padding: 20px;
        left: 625px;
        top: -350px;
        transform: translateX(0);
    }

    @media screen and (min-width: 1600px) {
        width: 688px;
        height: 688px;
        left: 860px;
        top: -460px;
    }
}

.hero__back-filled-circle{
    background: #2C3454;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.hero__small-back-circle {
    display: none;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #3C466B;
    position: absolute;

    @media screen and (min-width: 1280px) {
        display: block;
        width: 177px;
        height: 177px;
        left: 700px;
        top: 226px;
    }

    @media screen and (min-width: 1600px) {
        left: 933px;
        top: 300px;
        width: 236px;
        height: 236px;
    }
}

.hero__small-back-filled-circle {
    width: 100%;
    height: 100%;
    background: #2C3454;
    border-radius: 50%;
}

img{
    width: 415.741px;
    height: auto;
    opacity: 0.99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;

    @media screen and (min-width: 480px){
        top: 120px;
    }

    @media screen and (min-width: 1280px) {
        top: 50%;
        transform: translate(0, -50%);
        left: 630px;
    }

    @media screen and (min-width: 1600px) {
        left: 850px;
    }
}

.hero__pagination-cont{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: 1280px) {
        left: 85px;
        bottom: 35px;
        transform: translateX(0);
    }

    @media screen and (min-width: 1600px) {
        left: 113px;
        bottom: 50px;
    }
}

.extra-section{
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
        width: 1200px;
        margin: 10px auto 20px;
    }

    @media screen and (min-width: 1600px) {
        width: 1500px;
        margin: 30px auto 40px;
    }
}

.product__nav-cont {
    border-radius: 5.787px;
    background: #EDF0F8;
    width: 230px;
    padding: 5.787px 8.68px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.product__nav-text {
    color: #A3A9C2;
    font-family: Poppins;
    font-size: 17.47px;
}

.product__nav-arrow {
    width: 19.966px;
    height: 19.966px;
}

.bold {
    font-weight: 600;
    color: #3A4980;
}