<div class="extra-section">
    <div class="product__nav-cont">
        <a class="product__nav-text" href="/">Home</a>
        <svg class="product__nav-arrow" xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12"
            fill="none">
            <path d="M4.95955 2.24121L8.57624 5.8579L4.95955 9.47459" stroke="#A3A9C2" stroke-width="1.08501"
                stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p class="product__nav-text bold">All Product</p>
    </div>
</div>

<section id="products-hero">
    <div class="hero__text-cont">
        <p class="hero__text" [@text]="isOpen ? 'open' : 'closed'">Receive orders quickly</p>
        <h1 class="hero__title" [@text]="isOpen ? 'open' : 'closed'">FREE delivery</h1>
        <p class="hero__text" [@text]="isOpen ? 'open' : 'closed'">for every order</p>
    </div>

    <div class="hero__back-circle" [@circles]="isOpen ? 'open' : 'closed'">
        <div class="hero__back-filled-circle"></div>
    </div>

    <div class="hero__small-back-circle" [@circles]="isOpen ? 'open' : 'closed'">
        <div class="hero__small-back-filled-circle"></div>
    </div>

    <img src="assets\img\mobile\hero-2-min.png"  [@circles]="isOpen ? 'open' : 'closed'">

    <svg class="hero__pagination-cont" xmlns="http://www.w3.org/2000/svg" width="145" height="11" viewBox="0 0 145 11"
        fill="none">
        <circle cx="44.8047" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="63.6885" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="82.5723" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="101.456" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="120.339" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="139.223" cy="5.61524" r="5.03565" fill="white" />
        <rect x="0.742676" y="0.57959" width="30.2139" height="10.0713" rx="5.03565" fill="white" />
    </svg>

</section>