<section>
    <div class="hero__text-cont">
        <p class="hero__text">Receive orders quickly</p>
        <h1 class="hero__title">FREE delivery</h1>
        <p class="hero__text">for every order</p>
    </div>

    <div class="hero__back-circle">
        <div class="hero__back-filled-circle"></div>
    </div>

    <div class="hero__small-back-circle">
        <div class="hero__small-back-filled-circle"></div>
    </div>

    <img src="assets\img\mobile\hero-2-min.png">

    <svg class="hero__pagination-cont" xmlns="http://www.w3.org/2000/svg" width="145" height="11" viewBox="0 0 145 11"
        fill="none">
        <circle cx="44.8047" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="63.6885" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="82.5723" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="101.456" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="120.339" cy="5.61524" r="5.03565" fill="white" />
        <circle cx="139.223" cy="5.61524" r="5.03565" fill="white" />
        <rect x="0.742676" y="0.57959" width="30.2139" height="10.0713" rx="5.03565" fill="white" />
    </svg>

</section>