section{
    padding: 35px 10px 50px;

    @media screen and (min-width: 375px) {
        width: 355px;
        padding: 0;
        margin: 35px auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1280px) {
        width: 1200px;
        margin: 15px auto 75px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
        margin: 15px auto 100px;
    }
}

.policies__title{
    color: #0F2650;
    font-family: Poppins;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
        font-size: 40px;
        line-height: 110%;
        width: 1200px;
        padding: 30px 0 40px 0;
        margin-bottom: 0;
        background: #F9F9F9;
        border-radius: 22px 22px 0 0;
    }

    @media screen and (min-width: 1600px) {
        font-size: 50px;
        line-height: 110%;
        width: 1600px;
        padding: 40px 0 50px 0;
        margin-bottom: 0;
        background: #F9F9F9;
        border-radius: 30px 30px 0 0;
    }
}

.policies__list{
    padding: 12px;
    border-radius: 10px;
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (min-width: 1280px) {
        padding: 15px 50px;
        border-radius: 0 0 22px 22px;
        gap: 40px;
    }

    @media screen and (min-width: 1600px) {
        padding: 20px 70px;
        border-radius: 0 0 30px 30px;
        gap: 50px;
    }
}

.policies__p-title{
    color: #242331;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;

    @media screen and (min-width: 1280px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 30px;
    }
}

.policies__p-text{
    color: #242331;
    font-family: Poppins;
    font-size: 16px;
    line-height: normal;

    @media screen and (min-width: 1280px) {
        font-size: 15px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}