.body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::ng-deep {
    .white-background {
        width: 100vw;
        height: auto;
        background-color: white;
    }
}