.shipping__aside{
    width: auto;

    @media screen and (min-width: 1600px){
        width: 455px;
    }
}

.shipping__form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1600px) {
        width: 1060px;
    }
}

.shipping__form-extra-cont{
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1600px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.shipping__input-cont{
    display: flex;
    flex-direction: column;
    gap: 13px;

    width: 520px;
    
}

label{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 110%;
    
    @media screen and (min-width: 1600px) {
        font-size: 20px;
    }
}

input{
    height: 53px;
    padding: 12px 17px;
    border-radius: 10px;
    border: 1px solid #CCC;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    line-height: 110%;

    &::placeholder{
        color: rgba(0, 0, 0, 0.50);
    }

    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

.phone{
    width: 100%;
}