section {
    padding: 0 10px 50px;

    @media screen and (min-width: 375px) {
        width: 375px;
        padding: 0;
        margin: 0 auto 50px;
    }

    @media screen and (min-width: 480px) {
        width: 460px;
    }

    @media screen and (min-width: 1600px) {
        width: 1121px;
        margin: 0 auto 100px;
    }
}

.faq__extra-space{
    height: 30px;
}

h2{
    color: #0F2650;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1600px) {
        font-size: 50px;
        line-height: 110%;
        margin-bottom: 50px;
    }
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

li{
    padding: 10px 12px;
    border-radius: 10px;
    min-height: 55px;
    background: #ECF8FF;
    position: relative; 
    
    @media screen and (min-width: 1600px) {
        border-radius: 20px;
        min-height: 100px;
        padding: 20px 70px;
    }
}

button{
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: #242331;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
}

.faq-btn {
    width: 33.043px;
    height: 33.043px;
    background-color: #21365D;
    border-radius: 50%;
    border: none;
    padding: 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    div{
        width: 33.043px;
        height: 33.043px;
    }

    img{
        width: 18px;
        height: auto;
    }

    @media screen and (min-width: 1600px) {
        width: 59px;
        height: 59px;
        top: 20px;
        right: 70px;
    }
}

h3{
    width: 240px;
    text-align: left;
    color: #242331;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 110%; /* 17.6px */

    @media screen and (min-width: 375px) {
        width: 250px;
    }

    @media screen and (min-width: 480px) {
        width: 350px;
    }

    @media screen and (min-width: 1600px) {
        width: 836.489px;
        font-size: 30px;
    }
}

div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 21px;

    @media screen and (min-width: 1600px) {
        gap: 35px;
    }
}

p{
    margin-top: 20px;
    color: #242331;
    font-family: Poppins;
    font-size: 16px;
    width: 240px;

    @media screen and (min-width: 375px) {
        width: 250px;
    }

    @media screen and (min-width: 480px) {
        width: 350px;
    }

    @media screen and (min-width: 1600px) {
        font-size: 20px;
        width: 836.489px;
    }
}

.table{
    overflow: hidden;
    margin-top: 13px;
    gap: 0;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.31);

    @media screen and (min-width: 1600px) {
        margin-top: 20px;
        border-radius: 20px;
    }
}

.header, .row{
    background: rgba(255, 255, 255, 0.60);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div{
        width: 110px;
        height: 90.966px;
        display: flex;
        align-items: center;
        justify-content: center;


        p{
            max-width: 80px;
            color: #21365D;
            text-align: center;
            font-family: Poppins;
            font-size: 12.191px;
            font-weight: 500;
            line-height: 110%;
            margin: 0;

            &:not(:last-child){
                border-right: 1px solid rgba(0, 0, 0, 0.31);
            }

            @media screen and (min-width: 375px) {
                max-width: 90px;
            }
        }
    }

    @media screen and (min-width: 1600px) {
        div{
            width: 330px;
            height: 100px;

            p{
                font-size: 20px;

                max-width: 253.756px;
            }
        }
    }
}

.header{
    padding: 0;
    background: #D7F0FF;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.31);
}

.row{
    padding: 0;
    &:not(:last-child){
        border-bottom: 1px solid rgba(0, 0, 0, 0.31);
        border-radius: 0;
    }
}

.bolder{
    font-weight: 600 !important;
}

